@{
    ViewBag.Title = "Home Page";
}

<div class="row mb-4">
    <div class="col">
        <h2>Ping Pong Match Tracking App</h2>
        <div class="row mb-4">
            <div class="col">
                <h2>Game 1</h2>
                <img src="images/Game1.gif" alt="Sample Photo" />
            </div>
            <div class="col">
                <h2>Game 2</h2>
                <img src="images/Game2.gif" alt="Sample Photo" />

            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <h2>Game 3</h2>
                <img src="images/Game3.gif" alt="Sample Photo" />
            </div>
            <div class="col">
                <h2>Game 4</h2>
                <img src="images/Game4.gif" alt="Sample Photo" />

            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <h2>Game 5</h2>
                <img src="images/Game5.gif" alt="Sample Photo" />
            </div>
            <div class="col">
                <h2>Game 6</h2>
                <img src="images/Game6.gif" alt="Sample Photo" />

            </div>
        </div>
    </div>
</div>

