@model List<PingPongApp.Models.MatchInfo>
    @{
                    /**/


                    ViewBag.Title = "PlayerInfo";
                    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="row mb-4">
        <div class="col">
            <h2>Matches</h2>
        </div>
    </div>

    <div class="row mb-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Player 1</th>
                    <th scope="col">Player 2</th>
                    <th scope="col">Score</th>
                    <th scope="col">Winner</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    
                    @foreach (var players in item.Players)
                    {
                        <td>@players.PlayerName</td>

                    }
                    <td>
                        @item.Players[0].PlayerScore - @item.Players[1].PlayerScore
                    </td>
                    <td>@item.Winner</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
